@model IEnumerable<WebAPIAgendAI.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}
<link rel=" stylesheet" href="~/css/funcionario.css"/>
<h1>Lista de Funcionários Cadastrado</h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<div class="bloco">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailInstitucional)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Perfil)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailInstitucional)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Perfil)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Informações</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>|
                        <a asp-action="Agendamentos" asp-route-id="@item.Id">Agendamentos</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
