@model IEnumerable<WebAPIAgendAI.Models.Agendamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Agendamentos</h1>

<p>
    <a asp-action="CreateAgendamento">Novo Agendamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailInstitucional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FuncionarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailInstitucional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Informações</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Cancelar</a>
            </td>
        </tr>
}
    </tbody>
</table>
